[submodule "oxygine-framework"]
	path = oxygine-framework
	url = https://github.com/oxygine/oxygine-framework
[submodule "SDL"]
	path = SDL
	url = https://github.com/oxygine/SDL
[submodule "box2d"]
	path = box2d
	url = https://github.com/erincatto/box2d.git
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git
